{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ currentLanguage }}" xml:lang="{{ currentLanguage }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" type="text/css" href="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/css/bootstrap.min.css" />
{#    <link rel="stylesheet" type="text/css" href="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/css/bootstrap-theme.css" />#}
    <link rel="stylesheet" type="text/css" href="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/css/print.css" />
    <link rel="stylesheet" type="text/css" href="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/css/overrides.css" />

    <!--[if IE]>
    <link href="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <meta name="robots" content="noindex, nofollow">
    <script src="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/js/jquery-3.7.1.slim.min.js"></script>
    <script src="{{ constant('WEBSITE') }}{{baseurlpath}}module.php/themes/js/bootstrap.min.js"></script>
    {% block preload %}{% endblock %}
  </head>
  <body id="{{ templateId }}">

      {% block header %}{% include "_header.twig" %}{% endblock %}
        <main>
        <div id="content">
          <div class="wrap">
            {% block content %}{% endblock %}
          </div>
        </div>{# content #}
        <div id="push"></div>
        </main>
      {% block footer %}{% include "_footer.twig" %}{% endblock %}
{#    <script src="{{ asset('js/bundle.js') }}"></script>#}
    {% block postload %}{% endblock %}
  </body>
</html>
{% endapply %}
